.savedGamesSection{
  width: 500px;
}

.hide-hover {
  display: none;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.save-container:hover {
  & > .save-styling {
    transition: all 250ms linear;
    opacity: 0.25;
  }

  & > .hide-hover {
    display: inline-block;
    position: absolute;
    width: 150px;
    opacity: 1;
  }

  & > .hide-hover:first-of-type {
    top: 30px;
    left: 100px;
  }

  & > .hide-hover:last-of-type {
    top: 30px;
    left: 270px;
  }
}
