MONGO_URI=mongodb://jnch009:<MONGO_INITDB_ROOT_PASSWORD>@mongo:27017?useUnifiedTopology=true
REGEX_CURSE_WORDS=<curse word filter in regex format however you want it>
MONGO_INITDB_ROOT_PASSWORD=<set the password to whatever you want>