html,
body {
  height: 100vh;
}

body {
  font: 25px "Century Gothic", Futura, sans-serif;
  background-color: darkcyan;
}

#root {
  height: inherit;
  width: inherit;
}

ol,
ul {
  padding-left: 30px;
}

.game-title {
  color: black;
  font-size: 100px;
  font-weight: bolder;
}

.creator-info {
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 1%;
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 0;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}

.navBar {
  width: 100%;
  height: 100%;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.sudoku-grid {
  float: left;
  width: 150px;
  height: 150px;
}

.sudoku-row {
  display: flex;
  justify-content: center;
}

.alertHidden {
  display: none;
}

.alertConstraint {
  position: fixed;
  top: 0;
  z-index: 1;
}

.winCondition {
  color: black;
  text-align: center;
  padding-bottom: 15px;
  z-index: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 50px;
  width: 50px;
  transition: all 250ms linear;
}

.newGameText {
  padding: 0.4em;
}

.rulesText {
  padding-bottom: 0.5em;
}

.flexButtons {
  display: flex;
  justify-content: space-between;
}

.flexButtons > .btn-primary {
  width: 45%;
}

/* source: https://stackoverflow.com/questions/10476632/how-to-scroll-the-page-when-a-modal-dialog-is-longer-than-the-screen */
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.sudoku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 425px) {
  .game-title {
    color: black;
    font-weight: bolder;
    top: 0%;
    left: 0%;
    height: 11%;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 70px;
  }

  .game-board {
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80%;
    margin: 0 auto;
  }

  .sudoku {
    position: absolute;
    width: 315px;
    height: 315px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 35px;
    width: 35px;
  }

  .sudoku-grid {
    float: left;
    width: 105px;
    height: 105px;
  }

  .creator-info {
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    padding-bottom: 1%;
  }

  #creatorName {
    position: relative;
    font-size: 15px;
    top: 20%;
    padding: 1em;
    margin: 0;
  }

  .navBar {
    font-size: x-small;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/* @media (max-height: 550px) {
  .game-title {
    color: black;
    font-weight: bolder;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 70px;
    display: none;
  }

  .game-board {
    margin: 0 auto;
    overflow-y: auto;
  }

  .sudoku {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 35px;
    width: 35px;
  }

  .sudoku-grid {
    float: left;
    width: 105px;
    height: 105px;
  }

  .creator-info {
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    padding-bottom: 1%;
  }

  #creatorName {
    position: relative;
    font-size: 15px;
    top: 20%;
    padding: 1em;
    margin: 0;
    display: none;
  }

  .winCondition {
    display: none;
  }

  .navBar {
    display: none;
  }
} */
